.SignUp {
  background-image: url("../../images/138.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: auto;
  padding-bottom: 30px;
}
.SignUp h3 {
  font-weight: 400;
  padding-bottom: 20px;
}
.SignUp form {
  width: 30%;
  margin: auto;
  background-color: #eee;
  padding: 40px 30px 10px;
  border-radius: 6%;

  /* box-shadow: 5px 10px 8px 10px #2c7da0; */
}
.SignUp form label {
  font-weight: bold;
}
.SignUp h3 {
  padding-top: 40px;
}

.Btnlogin {
  background-color: #2c7da0;
}
