.Holiday {
  padding: 40px 0 110px;
  background-color: #eee;
}
.Holiday h3 {
  margin-bottom: 50px;
  font-weight: 400;
}
.Holiday form {
  width: 50%;
  margin: auto;
}
.Holiday form label {
  font-weight: bold;
}
.Holiday .return svg {
color: #2c7da0;
}
