
.profile h4 {
  margin: 30px;
  color: #525558;
}
.profile .nav-link {
  color: #2c7da0;
}
.card-body {
  padding-top: 40px;
  min-height: 400px;
}
.card-body img{
  display: block;
	width: 300px;
	height: 300px;
	margin: 2rem auto;
}
.profile input {
	appearance: none;
	outline: none;
	border: none;
	background: #EEE;
	width: 100%;
	max-width: 320px;
	padding: 0.5rem 1rem;
	border-radius: 0.5rem;
	margin-right: 1rem;
}

.profile .card-body button,.profile .card-body a {
	appearance: none;
	outline: none;
	border: none;
	background: none;
	cursor: pointer;
	color: #2c7da0;
	font-size: 1.5rem;
	text-decoration: none;
}
.plusBtn , .down{
  font-weight: bold;
}

