.contact {
  padding: 50px 0;
}
.contact h3 {
  margin-bottom: 40px;
}
.contact p {
  margin-bottom: 50px;
  color: #777;
  font-size: 18px;
}
.contact input,
.contact textarea {
  margin-bottom: 20px;
}
.contact textarea {
  height: 96px;
}
.submitBtn {
  width: 100%;
  background-color: #2c7da0;
  color: #fff;
  border: 1px solid #eee;
}
