/* Footer */
.footer {
  padding-top: 40px ;
  background-color: #222;
  color: #fff;
}
.footer .logo p {
  color: #eee;
  letter-spacing: 1.3px;
  line-height: 1.6;
}
.footer h4 {
  font-size: 18px;
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 20px;
}
.footer li .link-nav {
  margin-bottom: 10px;
  font-size: 18px;
  cursor: pointer;
  transition: all 0.4s ease-in-out;
  text-decoration: none;
  color: #fff;
}
.footer li .link-nav:hover{
  color: #2c7da0;
}

.footer .cont p {
  font-size: 18px;
  font-weight: 600px;
}
.copy {
  background-color: #333;
  color: #aaa;
  padding: 20px 0;
  margin-top: 40px;
}
.footer .arrow a{
  position: absolute;
 left: 80px;
  color: #fff;
}
