.Login {
  background-image: url("../../images/138.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 650px;
}
.Login h3 {
  font-weight: 400;
  padding-bottom: 20px;
}
.Login form {
  width: 30%;
  margin: auto;
  background-color: #eee;
  padding: 40px 30px;
  border-radius: 5%;
  /* box-shadow: 5px 10px 8px 10px #2c7da0; */
}
.Login form label {
  font-weight: bold;
}
.Login h3 {
  padding-top: 40px;
}

.Btnlogin {
  background-color: #2c7da0;
  margin-bottom: 20px;
}
button a,
button a:hover {
  color: #fff;
  text-decoration: none;
}
