.Nav {
  background-color: #2c7da0;
}
.nav-item {
  font-size: 20px;
  padding: 0 20px;
}

.navbar-light .navbar-nav .nav-link,
.navbar-light .navbar-nav .nav-link.active {
  color: #fff;
}
.navbar-light .navbar-nav .nav-link:hover,
.navbar-light .navbar-nav .nav-link:focus {
  color: #fff;
}

.navbar-light .navbar-nav .nav-link::after,
.navbar-light .navbar-nav .nav-link.active::after {
  content: "";
  display: block;
  height: 3px;
  background-color: #fff;
  transition: width 0.5s;
}
.navbar-light .navbar-nav .nav-link::after {
  width: 0;
}
.navbar-light .navbar-nav .nav-link.active::after {
  width: 100%;
}

.navbar-light .navbar-nav .nav-link:hover:after {
  width: 100%;
}
